
.body img{
    display: block;
    margin: 20px auto 0px auto;
    width: 150px;
}

.container{
    box-shadow: 0px 1px 11px 0px rgba(66, 66, 66, 0.75);
    -webkit-box-shadow: 0px 1px 11px 0px rgba(66, 66, 66, 0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(66, 66, 66, 0.75);
    background: #F5F7F8;
    padding: 35px;
    width: 800px;
    margin: 50px auto;
    border-radius: 9px;
}

.container-img{
    width: 100%;
    border-bottom:1px solid #DCDCE6;
    text-align: right;
}

.container-img a{
    color: #3E51B5;
    text-decoration: none;
}

.container-cards{
    display: flex;
}

.container-intro{
    width: 130%;
    border-right: 1px solid #DCDCE6; 
} 

.container-intro img{
    width: 300px;
}

.container-intro h1{
    margin: 30px auto 30px auto;
}

.container-formulario{
    padding: 35px;
}

.container-formulario h2{
    margin: 10px auto 10px auto;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    color:#7a7a7a;
}


.container-formulario p{
    text-align: left;
    letter-spacing: 0.1px;
    font-size: 14px;
    color: #7a7a7a;

}

.ayudas{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ayudas a{
    text-align: center;
    letter-spacing: 0.1px;
    font-size: 14px;
    color: #7a7a7a;
    text-decoration: none;
}

.ayudas a:hover{
    color:#3E51B5 ;
    letter-spacing: 0.5px;
    transition: 0.5s all ease;
}

.container-formulario input{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #DCDCE6;
}

.container-formulario input:focus {
    box-shadow: 0px 1px 11px 0px rgba(37, 37, 37, 0.75);
    -webkit-box-shadow: 0px 1px 11px 0px rgba(37, 37, 37, 0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(37, 37, 37, 0.75);
}       

.container-formulario button{
    margin: 15px auto;
    display: block;
    margin: 35px auto;
    background: gray;
    border: none;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.container-formulario button:hover{
    background: #403D56;
}

.container-formulario h3{
    text-align: center;
    font-weight: 300;
} 

